:root {
    --green: #1DBF73;
    --white: #ffffff;
    --black: #25272C;
    --gray: #8E95A2;
    --light-gray: #EDEEF1;
    --blue: #8627e4;
    --yellow: #dccb2a;
    --pink: #ec768a;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: var(--light-gray);
}

a.logo_box {
    width: 92%;
    margin: auto;
    text-align: center;
}

.side-navbar {
    z-index: 9;
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: var(--white);
    transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: var(--light-gray);
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: var(--light-gray);
    border-right: 2px solid #8627e4;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: var(--light-gray);
    color: var(--white);
    margin-left: -38px;
    position: relative;
    z-index: 99;
    top: 10px;
}

.my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
}

a.logo_box {
    width: 92%;
    margin: auto;
    font-size: 35px;
    padding: 13px 0px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--pink);
}

ul.nav-parent li.nav-link {
    line-height: 52px;
    padding-left: 11px;
    text-transform: capitalize;
}

ul.nav-parent li i {
    margin-right: 11px;
}

.main_top_section {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
}

.btn-black {
    background: var(--black);
    border: unset;
    color: var(--white);
    padding: 5px 21px;
    border-radius: 40px;
}

.btn-outline {
    background: transparent;
    border: unset;
    color: var(--black);
    padding: 5px 21px;
    border-radius: 40px;
    border: 1px solid var(--black);
}

.my_store_background {
    min-height: 200px;
    background-image: linear-gradient(to right, #f1d1aa, #f7caae, #f8c4b5, #f6c0bd, #f0bdc6);
    width: 100%;
    margin: 7px 0px;
    border-radius: 3px;
}

.my_store h4 {
    font-weight: bold;
    margin-block: 0px;
}

.my_store_comment_box {
    display: flex;
    justify-content: space-between;
    margin: 14px 0px;
}

.my_store_comment {
    display: flex;
    gap: 11px;
    align-items: flex-start;
}

.store_left_img {
    border-radius: 7px;
    margin-top: -53px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    margin-left: 25px;
    padding: 26px;
}

.store_left_img img {
    border-radius: 50%;
    width: 90%;
}

ul.my_store_ul {
    display: flex;
    padding-left: 0px;
    list-style-type: none;
    gap: 7px;
    color: var(--yellow);
    margin-bottom: 7px;
}

.comment_inner_box p i {
    margin-right: 7px;
}

.feature_pro_section h5 {
    margin-top: 27px;
}

.post-slide {
    background: #fff;
    margin: 20px 4px 20px;
    border-radius: 7px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
    margin: 0px;
    margin-left: 0px;
    border-bottom: 1px solid var(--gray);
}

.categories_section {
    background: var(--white);
    padding: 43px 0px;
    border-radius: 7px;
    margin-bottom: 43px;
}

.category_img {
    margin-top: 21px;
}

.categories_section {
    background: var(--white);
    padding: 43px 0px;
}

.my_store_icon h5 {
    font-weight: bold;
}

.my_store_icon h5 i {
    float: right;
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
    border-radius: 10px;
    padding: 29px;
}

.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgb(116 130 135 / 75%) 0%, rgb(88 94 106 / 60%) 100%);
    transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.post-slide .post-content {
    background: #fff;
    padding: 2px 7px 5px;
    border-radius: 15px;
}

.post-slide .post-title a {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}

h3.post-title {
    margin-bottom: 0px;
}

.post-content h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: 93px;
    left: 15px;
    border-radius: 50px;
    transition: background 0.5s ease 0s;
    width: 27px;
    height: 27px;
    line-height: 27px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: 93px;
    right: 15px;
    border-radius: 50px;
    transition: background 0.5s ease 0s;
    width: 27px;
    height: 27px;
    line-height: 27px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 14px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

.category_inner_img {
    min-height: 206px;
    width: 82%;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    padding-top: 38px;
    margin-bottom: 20px;
    padding-bottom: 9px;
}

.category_inner_img p {
    margin-top: 43px;
}

.back_light_pink {
    background-image: linear-gradient(to bottom, #fdd6f5, #ffd5ed, #ffd5e5, #fed6df, #fbd7da);
}

.back_carrot {
    background-image: linear-gradient(to bottom, #fcdcc7, #fcd5bf, #fcceb8, #fdc7b1, #fdc0ab);
}

.back_Darkpink {
    background-image: linear-gradient(to bottom, #fed1ed, #ffc6e0, #ffbcd1, #ffb1c0, #ffa8ae);
}

.back_blue {
    background-image: linear-gradient(to bottom, #8be6dd, #80dde9, #84d3f0, #93c7f0, #a5bae8);
}

.back_green {
    background-image: linear-gradient(to bottom, #fae6cb, #f3e5b8, #e2e6a9, #c9e9a0, #a6eca0);
}

.back_light_blue {
    background-image: linear-gradient(to bottom, #b6c1ed, #c5c2ef, #d5c4f0, #e3c5ef, #f1c7ed);
}

.back_pink {
    background-image: linear-gradient(to bottom, #f3c6f5, #f4beea, #f4b7df, #f3b0d3, #f2a9c7);
    ;
}

.category_inner_img img {
    width: 90%;
    margin-right: -77px;
}

.dashbod_box_new {
    min-height: 211px;
    border-radius: 7px;
    padding: 34px;
    color: white;
    margin-top: 11px;
}

.pink_b {
    background: #992f75;
}

.red_b {
    background: #842d2e;
}

.green_b {
    background: #5a792b;
    min-height: 100px !important;
    padding: 11px;
}

.green_b h4 {
    margin-bottom: 0px;
}

.green_b p {
    margin-bottom: 0px;
}

.blue_b {
    background: #115651;
    min-height: 100px;
    padding: 11px;
}

.blue_b h4 {
    margin-bottom: 0px;
}

.blue_b p {
    margin-bottom: 0px;
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 9px 5px 9px;
    }
}

@media only screen and (max-width:991px) {
    .active-cont {
        margin-left: unset;
    }
}